.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.loginContainer {
  width: 350px;
  height: 380px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.logoWrapper {
  position: absolute;
  top: 35px;
}
.logoWrapper img {
  width: 175px;
  height: auto;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: 270px;
  height: 35px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  font-weight: 400;
  font-size: 0.9em;
  outline: none;
}
input::placeholder {
  opacity: 0.8;
  font-size: 0.9em;
}
input:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.inputPassword {
  margin: 8px 0 16px 0;
}
.loginBtn {
  width: 270px;
  height: 30px;
  background-color: #0095F6;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  opacity: 0.3;
  outline: none;
}
.findPassword {
  color: #385185;
  font-size: 0.8em;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}