.Main {
	height: 300vh;
	padding-top: 83px;
	display: flex;
	justify-content: center;
}

/* media query */
@media only screen and (max-width: 560px) {
	.search-container {
		display: none;
	}
	// .Recommend {
	// 	display: none;
	// }
	.feed-container {
		width: 100%;
	}
	.Nav {
		justify-content: space-between;
	}
}

@media only screen and (max-width: 960px) {
	.Recommend {
		display: none;
	}
}
