/* main */
.Feed {
  padding-top: 83px;
  display: flex;
  justify-content: center;
}
/* feed area */
.feedContainer {
  height: 100vh;
  width: 614px;
  /* position: relative; */
  /* right: 8.3vw; */
}

/* feed */
.feedWrapper {
  background-color: #fff;
  position: relative;
}

/* header */
.FeedHeader {
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 25px;
  padding: 12px;
  position: relative;
}
.posting-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.posting-user .nickname,
.posting-user .location {
  font-size: 0.9em;
  margin: 5px 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}
.posting-user .location {
  font-weight: 400;
}
.posting-user .location {
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.75em;
}
.posting-user i {
  position: absolute;
  right: 0;
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.posting-user img {
  height: 32px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* image */
.feed-img {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 940px;
  max-height: 940px;
}
.feed-img img {
  max-width: 100%;
  height: auto;
}
.feed-img .heart-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.7));
  transform-origin: center center;
  width: 0;
  opacity: .9;
}

.fas .fa-heart {
  color: rgb(255, 87, 87);
}

.animate-like {
  animation: 2s animateLike ease-in-out forwards;
}

@keyframes animateLike {
  0% {
    width: 0;
  }
  5% {
    width: 180px;
  }
  10% {
    width: 150px;
  }
  20%,
  35% {
    width: 160px;
  }
  40%,
  100% {
    width: 0;
  }
}

/* text */
.feed-text {
  min-height: 150px;
  max-height: fit-content;
  padding-bottom: 55px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
}
.feed-text .icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 17px;
}
.icon-wrapper i {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.icon-wrapper .left-icons i {
  margin-right: 20px;
}

.text-wrapper {
  padding: 0 17px;
  font-size: 0.9em;
  font-weight: 600;
}
.text-wrapper > p {
  margin-bottom: 20px;
}

.new-comment .input-comment {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  outline: none;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  font-size: 0.9em;
}
.new-comment .input-comment::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.new-comment .upload-comment {
  position: absolute;
  right: 12px;
  bottom: 16px;
  color: #0095F6;
  font-size: 0.9em;
  font-weight: 600;
  opacity: 0.3;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.text-wrapper .comment {
  margin-bottom: 15px;
  font-weight: 400;
}
.text-wrapper .comment-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-wrapper .delete-comment {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
